// colors
$softBlue: #8bacd9;
$white: #fff;
$cyan: #00fff8;
$veryDarkBlueMain: #0d192c;
$veryDarkBlueCard: #15263f;
$veryDarkBlueLine: #2e405a;
// styles
@mixin heading {
	font-weight: 600;
	font-size: 2.2rem;
}
@mixin body {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 26px;
}
@mixin caption {
	font-weight: 400;
	font-size: 1.6rem;
}
@mixin captionBold {
	font-weight: 600;
	font-size: 1.6rem;
}
